%section
  - if @comment.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@comment.errors.count, 'error')
        prohibited this comment from being saved:
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg
  %div.field
    = f.label   :user
    = select_tag  'post[comments][]', User.all.collect {|u| [u.name, u.id]}, prompt: 'Select User...'
  %div.field
    = f.label       :body
    = text_field_tag  'post[comments][]'