= form_for @user, url: admin_users_path do |f|
  - if @user.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@user.errors.count, 'error')
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %div.field
    = f.label       :name
    = f.text_field  :name
  %div.field
    = f.label       :email
    = f.text_field  :email
  %div.actions
    = f.submit